<!doctype html>
<html>
<head>
    <title>Bobby Buddy Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1 class="greetings">Bobby's Buddy Movies</h1>
  <img class="cameraImage" src="https://www.le-monde-du-stickers.fr/10666-large_default/sticker-cinema-camera.jpg">
  <footer>
    <div class="footer-content">
        <p>&copy; 2024 Mon Site Web. Tous droits réservés.</p>
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
</footer>
</body>
</html>
