<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='formStyle.css') }}">
    <title>Ajouter un film</title>
</head>
<body>
    <h1>Ajouter une critique</h1>
    <form action="{{ url_for('addReview', id=film.id) }}" method="POST">
        <!-- Champ pour la review -->
        <label for="review">Critique :</label>
        <textarea id="review" name="review" rows="2"></textarea>
        <br><br>

        <!-- Bouton pour soumettre le formulaire -->
        <button type="submit">Ajouter la critique</button>
    </form>
</body>
</html>